*{
    box-sizing: border-box;
}

.header{
    background-color: rgb(172,90,214) ;
    padding: 10px;
    height: 150px;
}

.footer{
    background-color: rgb(49,172,214);
    padding: 5px;
    height: 100px;
}

.central{
    background-color: brown;
    
}

.menu{
    background-color: chartreuse;
    float: left;
    
}

.informacion{
    background-color: coral;
    float: left;
    
}

.eldivdeladerecha{
    background-color: crimson;
    float: left;
    
}

.col1{
    width: 8.33%;
}

.col3{
    width: 25%;
}

.col6{
    width: 50%;
}

.col12{
    width: 100%;
}

.basepantalla{
    height: 550px;
}

.estiloborder{
    border: 1px solid black;
}